* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.full {
    display: flex;
    width: 100%;
    height: 100vh;
}
.app {
    --appsize: 270;
    width: calc(var(--appsize) * 1px);
    height: calc(var(--appsize) * 1px);
    margin: auto;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    --size: calc(var(--appsize) / 3);
    --x: calc(var(--col) * var(--size) * -1px);
    --y: calc(var(--row) * var(--size) * -1px);
    width: calc(var(--size) * 1px);
    height: calc(var(--size) * 1px);
    background-image: url('./be-happy.jpg');
    border: 1px solid red;
    background-position: var(--x) var(--y); 
    background-repeat: no-repeat;
    background-size: calc(3 * var(--size) * 1px) calc(3 * var(--size) * 1px);
    cursor: pointer;
}